<div class='login-view-dialog'>
  <div>
    <span class='login-view-dialog-logo'></span>
    <ul>
      <li class='login-view-dialog-title'>孙志萌个人管理平台</li>
      <li class='login-view-dialog-title-english'>Personal System for Sunzhimeng</li>
    </ul>
  </div>
  <div class='inputs'>
    <input class='login-view-dialog-email' placeholder='邮箱' name='email' type='email'/>
    <input class='login-view-dialog-password' placeholder='密码' name='password' type='password'/>
  </div>
  <button id='login-view-submit' type='submit'>登陆</button>
</div>
