<header id='page-title'>
      <h1>个人内部管理平台</h1>
</header>
<ul>
  <li id='events'>
    <span class='menu-events'></span>
    日记
  </li>
  <li id='firsts'>
    <span class='menu-firsts'>
    </span>
    firsts
  </li>
  <li id='contacts'>
    <span class='menu-contacts'></span>
    联系人
  </li>
</ul>

