<div class='profile-view-modal'></div>
<div class='profile-view-dialog'>
  <header>
    <span class='profile-view-close'></span>
    <span class='profile-view-title'>当前用户</span>
  </header>
  <ul class='profile-view-user-data'>
    <li>
     <span class='profile-view-user-name'></span>
     <span><%= name %></span>
    </li>
    <li>
     <span class='profile-view-user-email'></span>
     <span><%= email %></span>
    </li>
    <li id='menu-view-logout'>
      <a href='#'>退出</a>
    </li>
  <ul>
</div>
