<p class=''>
  <span class='icon'></span>
  <span><%= first.escape('time') %></span>
</p>
<p class='month-day'><%= first.escape('type_name') %></p>
<p class='title'><%= first.escape('title') %></p>
<!-- <p class='description'><%= first.escape('description') %></p> -->
