<p class=''>
  <span class='icon'></span>
  <span><%= contact.escape('time') %></span>
</p>
<p class='month-day'><%= contact.escape('type_name') %></p>
<p class='title'><%= contact.escape('title') %></p>
<!-- <p class='description'><%= contact.escape('description') %></p> -->
