<b class='caret'></b>
<section class='line'>
  颜色
</section>
<div class='color' data-word='绿'>green</div>
<div class='color' data-word='红'>red</div>
<div class='color' data-word='黑'>black</div>
<div class='color' data-word='黄'>yellow</div>
<div class='color' data-word='灰'>grey</div>
<div class='color' data-word='蓝'>blue</div>
<section class='line'>
  粗细
</section>
<div class='size'>1</div>
<div class='size'>2</div>
<div class='size'>3</div>
<div class='size'>4</div>
<div class='size'>5</div>

