<p class=''>
  <span class='icon'></span>
  <span><%= event.escape('start') %></span>
</p>
<p class='month-day'><%= event.escape('event_category') %></p>
<p class='description'><%= event.escape('title') %></p>
